html, body {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1d1f25;
    font-family: sans-serif;
}

textarea {
    resize: none;
}

.flex-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.popup-wrapper {
    height: 100%;
    width: 100%;
    display: none;
}

.popup-wrapper-show {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.glass {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 20px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.new-task-backdrop {
    height: 95%;
    width: 95%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.backdrop-in {
    animation: linear forwards;
    animation-name: backdrop-in;
    animation-duration: 100ms;
    opacity: 1;
}

.backdrop-out {
    animation: linear forwards;
    animation-name: backdrop-out;
    animation-duration: 100ms;
    opacity: 0;
}

@keyframes backdrop-in {
    0% {
        opacity: 0;
        height: 80%;
        width: 80%;
    }
    20% {
        opacity: 0.5;
        height: 85%;
        width: 85%;
    }
    40% {
        opacity: 1;
        height: 90%;
        width: 90%;
    }
    60% {
        opacity: 1;
        height: 95%;
        width: 95%;
    }
}

@keyframes backdrop-out {
    0% {
        opacity: 1;
        height: 95%;
        width: 95%;
    }
    20% {
        opacity: 0.5;
        height: 90%;
        width: 90%;
    }
    40% {
        opacity: 0;
        height: 85%;
        width: 85%;
    }
    60% {
        opacity: 0;
        height: 80%;
        width: 80%;
    }
}


.new-task-popup-form {
    border: 2px solid white;
    border-radius: 10px;
    color: #fff;
    background-color: #16171b;

    z-index: 999;
}

.form-in {
    animation: linear forwards;
    animation-name: form-in;
    animation-duration: 100ms;
    opacity: 1;
}

.form-out {
    animation: linear forwards;
    animation-name: form-out;
    animation-duration: 100ms;
    opacity: 0;
}

@keyframes form-in {
    0% {
        opacity: 0;
        scale: 1.3;
    }
    20% {
        opacity: 0.5;
        scale: 1.2;
    }
    40% {
        opacity: 1;
        scale: 1.1;
    }
    60% {
        opacity: 1;
        scale: 1;
    }
}

@keyframes form-out {
    0% {
        opacity: 1;
        scale: 1;
    }
    20% {
        opacity: 0.5;
        scale: 1.1;
    }
    40% {
        opacity: 0;
        scale: 1.2;
    }
    60% {
        opacity: 0;
        scale: 1.3;
    }
}

.form-close {
    width: 100%;
    justify-content: flex-end;
    align-items: end;
}

.new-task-header {
    
}

#newTaskForm {
    padding: 25px;
}

.task-form-container {
    gap: 1.3rem;
    align-items: flex-start;
}

.title, .time, .description {
    align-items: flex-start;
}



.icon { 
    color: #fff;
}

.clear {
    clear: both;
}
  
.checkBox {
    display: block;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border: 3px solid rgba(255, 255, 255, 0);
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 0px 2px #fff;
}
  
.checkBox div {
    width: 60px;
    height: 60px;
    background-color: #fff;
    top: -52px;
    left: -52px;
    position: absolute;
    transform: rotateZ(45deg);
    z-index: 100;
}
  
.checkBox input[type=checkbox]:checked + div {
    left: -10px;
    top: -10px;
}
  
.checkBox input[type=checkbox] {
    position: absolute;
    left: 50px;
    visibility: hidden;
}
  
.transition {
    transition: 300ms ease;
}